@import '../../assets/variables.scss';

.congrats {
  color: $baseColor;
  background-color: $themeColor;
  animation: bounce-in .5s;
  max-width: 95%;
  width: 450px;
  z-index: 10;
  position: relative;
  padding: 10px 40px 40px;
  border-radius: 5px;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}