@import url('https://fonts.googleapis.com/css?family=Chango|Roboto&display=swap');

.App {
  font-family: 'Chango', 'Roboto', sans-serif;
  text-align: center;
}

.btn-bar {
  display: flex;
  justify-content: flex-end;
  .btn + .btn {
    margin-left: 20px;
  }
  .btn {
    background-color: transparent;
    border: none;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    &-primary {
      background-color: #09d3ac;
      border: 1px solid #09d3ac;
      color: #fff;
      &:hover {
        background-color: #07B794;
        border: 1px solid #07B794;
        color: #fff;
      }
    }
    &-default {
      background-color: #fff;
      border: 1px solid #8a8a8a;
      color: #8a8a8a;
      &:hover {
        background-color: #9E9DA1;
        border: 1px solid #9E9DA1;
        color: #fff;
      }
    }
  }
}